
/* About Section----------------- */

.about {
  display:flex;
  border: 10px solid #54234414;

padding: 60px;
background-color: gray;

line-height:3rem;
max-width: 1300px;
margin: 30px auto;
}


.about-container {
float: left;
align-items: center;

text-align: center;


}



.about-title{
  display: center;
width: 100%;
  border-bottom: 1px solid  #d8bfaa;
font-size: 3rem;
padding-bottom:60px ;
}






.about-content p {

  margin-top: 1rem;
  font-size: 1.5rem;
 
  
}

  /* div .about-fingerprint-container {
 
  background-color: #d8bfaa;
display:inline-flex;
padding: 30px;
float:right;
 width: 30%;
height:auto; 
 margin:auto;
 
}  */
 .fingerprint:hover {
  transform: scale(1.3);
}
.fingerprint  {
   display:none;
  color: #808080;
   top: 50%; 
   left: 50%;
  width: 100%;
  height:auto;
  transition: all 2s;
  z-index:5;
  background-color: rgba(75, 30, 30, 0.002);
  padding:50px;
  
} 