/* contact------------------------- */
.contact {
 flex-direction: column;
   
  align-items: center;
  max-width: 1300px;
  /* width:auto; */
  margin: 0 auto;
  
  text-align: center;
  padding: 25px;

}