/* Footer Styles */

footer {
  background-color: #808080;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;

  z-index:50;
  margin-top:20px;
  border-top: 3px solid #5423447c;
}



footer p {
    font-size: .90rem;
}