/* Footer CSS----------------- */


.footer {
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

.footer-container {
  
  width: 100%;
  display: flex;
  justify-content: center;

}
.row {
   display: flex;
}

ul {
  list-style: none;
}



.footer-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.footer-col h4 {
  font-size: 3rem;
  margin-bottom: 18px;
  position: relative;
}






.footer-col ul li a {
  margin-bottom: 18px;
  font-size:16px;
  color:papayawhip;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.4s ease;
 
}
.footer-col ul li a:hover {
 color: rgb(149, 24, 252);
  
}


.footer-col, .social-links a:hover{
  color: rgb(149, 24, 252);
}