
/*---- Hero Section ------------*/

.hero-title{
  
 font-size: 2rem;

}


.hero {

 border-radius:10px;
margin: auto;
max-width: 1300px;  
}

.hero-container {
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  text-align: center;
  padding: 25px;
}




 .profile-image {
  margin:30px;
  width: 20%;
  height: auto;
    border: 10px solid #54234414;
border-radius:10px;
  transition: all .5s;
}
 .profile-image:hover {
  transform: scale(1.5) rotate(360deg);
}

.cath-grove img {
  width: 100%;
 /* display:none; */
  margin: 0;
  z-index: -10;
}