
/*---- Hero Section ------------*/
.hero {
  /* background: rgb(16, 15, 15); */

  padding-top: 80px;
}

.hero-container,
.about-container
 {
 
  flex-direction: column;
   /* border: 1px solid  rgb(149, 24, 252);
  border-radius:10px; */
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  
  text-align: center;
  padding: 25px;

}

.hero-heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: papayawhip;
  padding: 60px;
}

.hero-heading span {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.hero-description {
  font-size:2rem;
  letter-spacing:1.5px;
  line-height: 3rem;
  background: #7e458a; 
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}