


/* Projects Section */
.projects {

  background-color: gray;
  border: 10px solid #54234414;
  align-items: center;
  max-width: 1300px;
  margin: 30px auto;
  /* display:flex; */
  
  text-align: center;
  padding: 25px;
}


.pro-title{
display: block;
width: 100%;
margin: auto;
    border-bottom: 1px solid  #d8bfaa;
font-size: 3rem;
padding-bottom:60px ;
}

.pro-content  {
  display: block;
line-height:3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.flex-wrap {
 display:flex;
flex-direction:row;
justify-content:space-around;
flex-wrap: wrap;

}



 .pro-card
  {
  
   background-color: #ebf5ee62 ;
 border: 10px solid  #54234456;

  width: 35%;
 padding: 0px;
   margin: 80px auto;
   height: auto;
   text-align: center;
  
}
.card-label {
  font-size: 1.5rem;
  margin-top:40px;
} 


.skills1, .skills2 {
letter-spacing:0.1em;
line-height: 1.5rem;
margin:30px;
max-width: 90%;
}


.skills1 {
  color: dark-byzantium;
}
.skills2 {
  color: #d8bfaa ;
 
 
}
.underline {
  border-bottom: 2px solid #bfd1e5 ;
  margin: 20px auto;
  max-width: 90%;
}
.num {
  margin: 10px;
  padding:10px;
}





.card {
  width: 30%;
   padding: 16px;
   text-align: center;
 margin: 5px 10px; 
 
 
 }

.pro-images {
margin-top: 20px;
overflow: hidden;
padding: 20px;
}


inside box effect 
 .pro-wrap{
  padding:10px;
 
}
  
.pro-card a {
  text-decoration: none;
}
 .pro-card a:hover {
background-color:#d8bfaa;
}
/*--- project detail html   ---- */

  

.pro-wrap2 {
  display: inline-block;
  text-indent:5%;
  letter-spacing: 1px;
  line-height: 2.5rem;
 
  max-width: 100%;
  
   margin: 20px 0 0 0;
  padding: 30px;
  border-top:2px solid  rgb(149, 24, 252);
   /* border-radius: 3%; */
}
.eer li {
  list-style-position: inside;
  list-style-type: circle;
}

/* project pages-creat another css */
  .pro-card2
  {
   
 border: 2px solid  rgb(149, 24, 252);
  border-radius:3%;
  width: 35%;
 padding: 0px;
   margin: 80px auto;
   height: 100%;
   text-align: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  
}
.pro-card2
  {
  width:90%;
}


