

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;


}
.body {
 color: #ebf5ee;
}
/*  color */



h1,
h2,
h3,
h4,
h5 {
 
  font-family: 'DM Serif Display', serif;

}
/* .name{
    
    font-size: 6rem;
} */











/* .button2:hover{
  transition: all 0.3s ease;
} */

.email {

align-items: center;
margin: auto;
 display: flex;
  font-size:1.4rem;
  /* text-decoration: none; */
}


/* hover styles for projects pop up */






 



/*  The nav transition highlight bar  */
.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);

}









/* contact container-------------- */

.social-links {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  font-size:5rem;
  padding:60px;
}

.social-links a {
  padding: 0 40px;
}

/* email container  */


.email-wrap{

justify-content: center;
   
  display: flex;
  transition: all 2s;
  width:100%;
   margin: 0 auto;
  padding:30px 20px;


  
}

.email {
  display:inline-flex;
  justify-content: center;
}

.top{
  display: none;
   transition: all 0.4s ease;

}

.top:hover{
  background-color:papayawhip;
}








